.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f7f7f7;
  }
  
  .chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
    padding: 10px;
  }
  
  .chat-input ion-button {
    margin-right: 10px;
  }
  
  .chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
  }
  
  .football-icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .my-message {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .other-message {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .message-text {
    background-color: #e0e0e0;
    border-radius: 15px;
    padding: 10px;
    max-width: 70%;
  }
  
  .my-message .message-text {
    background-color: #4c57af;
    color: white;
  }
  
  .other-message .message-text {
    background-color: #f1f1f1;
  }
  