.invite-container {
    margin-top: 20px;
  
    ion-item {
      --background: #f9f9f9;
      --border-radius: 8px;
      margin-bottom: 10px;
    }
  
    ion-button {
      margin-top: 20px;
      --background: #3880ff;
      --border-radius: 8px;
    }
  }
  