<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color: #3880ff;">Match List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <!-- Liste des matchs -->
    <ion-item *ngFor="let match of matches">
      <ion-label>
        <h2>{{ match.title }}</h2>
        <p>Date: {{ match.date }}</p>
        <p>Location: {{ match.location }}</p>
        <p>Description: {{ match.description }}</p>
        <p>Players: {{ match.numberOfPlayers }}</p>
        <p>Visibility: {{ match.visibility }}</p>
      </ion-label>
      <ion-button
        fill="outline"
        color="warning"
        (click)="updateMatch(match)"
      >
        <ion-icon slot="start" name="create-outline"></ion-icon>
        Update
      </ion-button>
      <ion-button
        fill="outline"
        color="danger"
        (click)="deleteMatch(match)"
      >
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Delete
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
